{% extends 'base.html' %}

{% block content %}

<div class="add-todo">
  <form id="todo-form">
    <label for="todo-description">Add something: </label>
    <input type="text" id="todo-description" name="todo-description">

    <input type="submit" value="Add">
  </form>
</div>
{% if todos %}
<ul id="todos">
  {% for todo in todos %}
  <li>
    <input
      type="checkbox"
      name="check-done"
      id="check-done"
      data-id={{ todo.id }}
      {% if todo.done %} checked {% endif %}>
    {{todo.description}}
    <button id="delete-todo" onclick='deleteTodo({{todo.id}})'>&cross;</button>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No todos found</p>
{% endif %}
{% endblock %}
